* {
  scroll-behavior: smooth;
}

:root{
    --body-background:#f4f4f4;
    --second-body-bg:#eeeeee;
    --articles-bg:white;
    --red-alcal:#b80606;
    --yellow-alcal:#edcd52;
}

body{
    background-color: var(--body-background);
    font-family: 'Roboto';
}

a{
    text-decoration: none;
}

/***********************************************************************************************/
/* contact bar */
/***********************************************************************************************/
.contact-bar{
    padding: 0.2% ;
    background-color: var(--red-alcal);
}

.link-contact-bar{
    padding: 15px;
    color: white;
}

.link-contact-bar:hover{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}


/***********************************************************************************************/
/* nav bar */
/***********************************************************************************************/
.nav-link{
    color: var(--red-alcal)!important;
    padding-bottom: 0px!important;
}

.navbar-toggler {
    border-color: var(--red-alcal);
    font-size: 10px;
  }

.navbar-toggler  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(184,6,6, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .active{
    color: var(--red-alcal);
    border-bottom: 1px solid;
}

.navbar-nav{
    margin: 0!important;
    padding-left: 76%;

}

/***********************************************************************************************/
/* banner */
/***********************************************************************************************/
.banner-padre{
    position: relative;
}

.banner-text{
    padding: 2%;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.center-text{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.ver-products{
  padding: 8px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: white;
}

.ver-products:hover{
  background-color: var(--yellow-alcal);
  color: var(--red-alcal);
  border-color: var(--yellow-alcal) ;
}

.img-banner-mobile{
  display: none;
}


/***********************************************************************************************/
/* products */
/***********************************************************************************************/
#products-section{
  padding: 2%;
}

.product{
  padding-top: 1%;
}

.products-title-desktop{
  padding-top: 2%;
  color: var(--red-alcal);
}

.products-mobile{
  display: none;
}

.products-title-mobile{
  padding-top: 2%;
  color: var(--red-alcal);
  display: none;
}



/***********************************************************************************************/
/* About us */
/***********************************************************************************************/
#about-us-section{
  padding-top: 2%;
  padding-bottom: 4%;
}

.about-us-text{
  padding-top: 4%;
}

.conoce-mas{
  color: var(--red-alcal);
  padding: 8px;
  border-color: var(--red-alcal);
  border-style: solid;
  background-color: transparent;
}

.conoce-mas:hover{
  background-color: var(--yellow-alcal);
  color: var(--red-alcal);
  border-color: var(--yellow-alcal) ;
}


/***********************************************************************************************/
/* Numbers */
/***********************************************************************************************/
#numbers-section{
  background-color: rgb(237,205,82, 0.6);
}

.number{
  padding-top: 14px;
  color: var(--red-alcal);
}

/***********************************************************************************************/
/* Fast contact */
/***********************************************************************************************/
#fast-contact-section{
  padding: 1%;
  background-color: var(--red-alcal);
  color: var(--red-alcal);
}

.btn-fast-contact input{
  background-color: var(--yellow-alcal);
  border-color: var(--yellow-alcal);
  color: var(--red-alcal);
  padding-left: 15%;
  padding-right: 15%;
}

.phone-fast-contact input{
  padding-right: 50%;
}

.phone-fast-contact{
  padding: 0;
}

.btn-fast-contact{
  padding: 0;
}

.fast-contact-title{
  color: var(--yellow-alcal);
}

/***********************************************************************************************/
/* Consecionarios */
/***********************************************************************************************/
#concesionarios-section{
  padding: 4%;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.consecionario{
  padding: 2%;
}

.consecionario-text{
  padding-top: 2%;
}

.consecionario-text a{
  text-decoration: none;
  color: var(--red-alcal);
}

.consecionario-text a:hover{
  text-decoration: none;
  color: var(--yellow-alcal);
}


/***********************************************************************************************/
/* Information */
/***********************************************************************************************/
#information-section{
  padding: 2%;
  background-color: var(--yellow-alcal);
}

/***********************************************************************************************/
/* testimonios */
/***********************************************************************************************/
#testimonios-section{
  padding: 2%;
}

.testimonio{
  padding: 2%;
}

.testimonio-text{
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 15px;
  background-color: rgb(237,205,82, 0.6);
}

/***********************************************************************************************/
/* testimonios */
/***********************************************************************************************/
#contact-section{
  padding: 2%;
  border-bottom: var(--red-alcal) solid 1px;
  border-top: var(--red-alcal) solid 1px;
}

#contact-section h4 {
  padding-bottom: 4%;
  color: rgb(76, 76, 76);
  padding-top: 25px;
  font-weight: bold;
}

.contact-links h6{
  text-decoration: underline;
  color: rgb(76, 76, 76);
  padding-top: 25px;
  font-weight: bold;
}

.contact-links p{
  display: inline-block;
  padding-left: 10px;
  font-size: 14px;
  color: rgb(76, 76, 76);
}

.contact-links a{
  display: inline-block;
  padding-left: 5px;
  color: rgb(76, 76, 76);
}

.contact-links i{
  color: var(--yellow-alcal);
}

.form-control textarea{
  min-height: 100px;
}

.btn-contact{
  margin-top: 2%;
}

.btn-contact input{
  background-color: transparent;
  border-color: var(--yellow-alcal);
  border-width: 2px;
  color: var(--red-alcal);
}


.btn-contact input:hover{
  background-color: var(--yellow-alcal);
  border-color: var(--yellow-alcal);
  color: var(--red-alcal);
}

.contact-info li {
  list-style: none;
  margin: 0;
}

ul.contact-links li a:hover {
  color: var(--yellow-alcal);
}

.contact-info ul{
  padding: 0;
}

.contact-info a {
  color: rgb(76, 76, 76);
  font-size: 15px;
  display: inline-block;
}

/***********************************************************************************************/
/* Banner 2 */
/***********************************************************************************************/
#banner2-section{
  padding-top: 2%;
  padding-bottom: 1%;
}

.banner2-text h2{
  color: var(--red-alcal);
  font-weight: bolder;
}


/***********************************************************************************************/
/* Footer */
/***********************************************************************************************/
#footer-section {
    padding: 30px 0;
    margin-top: 1%;
    background: var(--red-alcal);
    /* border-top: 1px solid #EEEEEE; */
  }

  ul.footer-social-links {
    list-style-type: none;
    padding: 0;
  }

  ul.footer-social-links li {
    display: inline-block;
    margin-left: 30px;
  }

  ul.footer-social-links li:first-child {
    margin: 0;
  }

  ul.footer-social-links li a {
    font-size: 35px;
    color: white;
    display: block;
    text-transform: uppercase;
  }

  ul.footer-social-links li a:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    opacity: 0;
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
         -o-transform: translateY(5px);
            transform: translateY(5px);
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
  }

  ul.footer-social-links li a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }

  p.copyright {
    padding-top: 10px;
    color: white;
  }

  .rocioromero{
    color: white;
    font-weight: bold;
    margin-left: 4px;
  }

  .rocioromero:hover{
    text-decoration: none!important;
    color: white;
    opacity: 0.7;
  }

/***********************************************************************************************/
/* whats app fixed */
/***********************************************************************************************/
  .whatsapp-fixed img{
    text-align: center;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 40px;
    font-size: 40px;
    position: fixed;
    right: 75px;
    bottom: 50px;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    cursor: pointer;
    z-index: 9999
  }

  .whatsapp-fixed:hover {
    opacity: .7;
  }


/***********************************************************************************************/
/* rsponsive */
/***********************************************************************************************/
@media screen and (max-width: 575px) {
    /***********************************************************************************************/
    /* banner */
    /***********************************************************************************************/
    #banner-section{
      margin-bottom: 5%;
    }

    .banner-text{
        display: none;
    }

    .img-banner-mobile{
      display: block;
    }

    .img-banner-desktop{
      display: none;
    }

    .products-title-mobile{
      display: block;
    }

    .products-title-desktop{
      display: none;
    }

    /***********************************************************************************************/
    /* products */
    /***********************************************************************************************/
    .products-desktop{
      display: none;
    }

    .product-mobile{
      max-width: 30%;
      margin: 0;
      padding: 3.6%;
    }

    .products-mobile{
      display: block;
    }

    /***********************************************************************************************/
    /* about us */
    /***********************************************************************************************/
    #about-us-section{
      padding-top: 30px;
      padding-bottom: 50px;
    }    
}

@media screen and (max-width: 765px) {
    /***********************************************************************************************/
    /* nav bar */
    /***********************************************************************************************/
    .navbar-brand{
        padding: 0;
    }

    /***********************************************************************************************/
    /* banner */
    /***********************************************************************************************/
    .banner-text{
        padding: 5px;
    }

    .banner-text h1{
        font-size: 10px;
    }

    .banner-text p{
        font-size: 10px;
    }
}